<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav [mode]="sideNavMode">
    <md-nav-list>
      <p>
        <a routerLink="/" routerLinkActive="active">DASHBOARD</a><br/>
        <a routerLink="/about" routerLinkActive="active">ABOUT</a>
      </p>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button> rewrd.net
  </md-toolbar>
<md-card id="my-page-card">
  <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
</md-card>
</md-sidenav-layout>
<!-- <my-store-devtools *ngIf="showMonitor"></my-store-devtools> -->
