<div class="md-dark-theme">
<h4 class="md-primary">
    <a class="main-logo" (click)="sidenav.toggle()">rewrd.net</a>
</h4>
<md-sidenav-layout fullscreen> <!-- class="md-dark-theme"> <!-- swithing to dark-theme -->
  <md-sidenav #sidenav mode="push">
    <div fxLayout="row">
      <div fxFlex="30">
          <h4 class="menu__item md-primary"><a routerLink="/" (click)="sidenav.toggle()" routerLinkActive="active">Dasboard</a></h4>
          <h4 class="menu__item md-primary"><a routerLink="/about" (click)="sidenav.toggle()">About</a></h4>
          <h4 class="menu__item md-primary"><a routerLink="/about" (click)="sidenav.toggle()">Logout</a></h4>
      </div>
      <div fxFlex="70">
        <md-list class="rwd-list">
          <md-list-item class="rwd-list__item">
            <div md-line>
              <h5>item.title</h5>
              <p>item.description</p>
              <a href="#">Delete</a> <a href="#">Edit</a> | <a href="#">Preview</a>
            </div>
          </md-list-item>
          <md-list-item class="rwd-list__item">
            <div>
              <h5>item.title</h5>
              <p>item.description</p>
            </div>
          </md-list-item>
          <md-list-item class="rwd-list__item">
            <div>
              <h5>item.title</h5>
              <p>item.description</p>
            </div>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="70" fxFlexOffset="30">
        <a routerLink="/" (click)="sidenav.toggle()">
          <h3><md-icon>add_circle</md-icon>CREATE NEW REWRD</h3>
        </a>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="70" fxFlexOffset="30">
        <a routerLink="/" (click)="sidenav.toggle()">
          <h3><md-icon>account_circle</md-icon>PROFILE</h3>
        </a>
        <signup-component></signup-component>
      </div>
    </div>
  </md-sidenav>
  <div class="md-light-theme">
    <md-card class="page-card">
      <router-outlet (activate)="activateEvent($event)" (deactivate)="deactivateEvent($event)"></router-outlet>
    </md-card>
  </div>
</md-sidenav-layout>
</div>
<my-store-devtools *ngIf="showMonitor"></my-store-devtools>
