<md-tab-group>
  <md-tab label="Log In">
    <form [formGroup]="loginForm" (ngSubmit)="signIn('login')">
      <md-input-container>
        <input md-input formControlName="username" [placeholder]="emailLabel" [(ngModel)]="user.username" /><br>
      </md-input-container>
      <small *ngIf="!loginForm.controls.username.valid">This is required!</small><br>
      <md-input-container>
        <input md-input formControlName="password" [placeholder]="passwordLabel" type="password" [(ngModel)]="user.password"/><br>
      </md-input-container>
      <small *ngIf="!loginForm.controls.password.valid">This is required!</small><br>

      <button md-raised-button color="primary" type="submit">Login (Update Store)</button>
    </form>
    <br><br>
    <button id="my-logout-button" md-raised-button color="accent" (click)="logout()">Logout</button>

    <pre>
    Status: {{ isLoading }}
    Value: {{ loginForm.value | json }}
    - - -
    Validation LOGIN: {{ loginForm.status }}
    </pre>

  </md-tab>


  <md-tab [label]="(user.userId && user.userId!==0) ? editLabel : signUpLabel">
    <form [formGroup]="registerForm" (ngSubmit)="signIn('register')" autocomplete="off">
      <md-input-container>
        <input md-input formControlName="firstName" [placeholder]="nameLabel" [(ngModel)]="user.firstName"/><br>
      </md-input-container>
      <small *ngIf="!registerForm.controls.firstName.valid">This is required!</small><br>
      <md-input-container>
        <input md-input formControlName="lastName" [placeholder]="surnameLabel" [(ngModel)]="user.lastName"/><br>
      </md-input-container>
      <small *ngIf="!registerForm.controls.lastName.valid">This is required!</small><br>
      <md-input-container>
        <input md-input formControlName="username" [placeholder]="emailLabel" [(ngModel)]="user.username"/><br>
      </md-input-container>
      <small *ngIf="!registerForm.controls.username.valid">This is required!</small><br>
      <md-input-container>
        <input md-input formControlName="password" [placeholder]="passwordLabel" type="password" [(ngModel)]="user.password"/><br>
      </md-input-container>
      <small *ngIf="!registerForm.controls.password.valid">This is required!</small><br>
      <!-- missing file upload -->
      <button md-raised-button color="primary" type="submit">Register (Update Store)</button>
    </form>
    <br><br>
    <button id="my-logout-button" md-raised-button color="accent" (click)="logout()">Logout</button>

    <pre>
    Status: {{ isLoading }}
    Value: {{ registerForm.value | json }}
    - - -
    Validation REGISTER: {{ registerForm.status }}
    </pre>

  </md-tab>
</md-tab-group>